@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<p>Id is @Model.Id</p>
<p>Membership Type: @Model.MembershipType.Name</p>
@if (Model.Birthday.HasValue)
{
    <p>Birthday: @Model.Birthday.Value.ToShortDateString()</p>
}

